/* ================================ */
/*            Common CSS            */
/* ================================ */

@define-color cpu #ea6962;
@define-color memory #458588;
@define-color temp #d8a657;
@define-color temp-crit #cc241d;


* {
  /* `otf-font-awesome` is required to be installed for icons */
	padding: 0;
	margin: 0;
	min-height: 0;
	border-radius: 0;
	border: none;
	text-shadow: none;
	transition: none;
	box-shadow: none;
}

/* the whole window */
window#waybar {
	color: #fff4d2;
	background: none;
}

window#waybar.hidden {
	opacity: 1;
}

#custom-rofi,
#workspaces button,
#workspaces button:hover,
#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover,
#workspaces button.urgent,
#window,
#tray,
#disk,
#cpu,
#temperature,
#temperature.critical,
#backlight,
#memory,
#pulseaudio,
#pulseaudio.muted,
#pulseaudio.source-muted,
#battery,
#battery.critical,
#battery.warning,
#idle_inhibitor,
#custom-swaync,
#keyboard-state,
#power,
#custom-power,
#clock {
	font-family: JetBrainsMono Nerd Font Propo;
	font-size: 18px;
	font-weight: 800;
	color: #202020;
	background: #202020;
	border-radius: 3px;
	border: 3px solid #202020;
	margin: 5px 0px;
}

#window,
#tray,
#disk,
#cpu,
#temperature,
#temperature.critical,
#backlight,
#memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#custom-swaync,
#keyboard-state,
#power,
#clock {
	padding-right: 4px;
}

#custom-rofi {
	background: #83a598;
	padding: 0 6px;
}

/* ================================ */
/*       workspaces module          */
/* ================================ */
#workspaces {
	margin: 0px;
}

#workspaces button,
#workspaces button:hover,
#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover,
#workspaces button.urgent {
	margin: 5px 3px;
}

#workspaces button {
	color: #fff4d2;
	padding: 0 4px;
	margin: 5px 3px;
	min-width: 25px;
}

#workspaces button:hover {
	background: #d3869b;
}

#workspaces button.visible {
	background: #8ec07c;
}

#workspaces button.visible:hover {
	background: #8ec07c;
}

#workspaces button.active {
	background: #8ec07c;
}

#workspaces button.active:hover {
	background: #8ec07c;
}

#workspaces button.urgent {
	background: #ea6962;
}

/* ================================ */
/*            window                 */
/* ================================ */

#window {
	color: #d3869b;
}

/* ================================ */
/*            tray                 */
/* ================================ */

#tray {
	padding: 0 6px 0 6px;
}

/* ================================ */
/*            disk                 */
/* ================================ */

#disk {
	color: #ea6962;
}

/* ================================ */
/*            cpu                  */
/* ================================ */
#cpu {
	color: @cpu;
}

/* ================================ */
/*            temp                  */
/* ================================ */
#temperature {
	color: @temp;
}

#temperature.critical {
	color: @temp-crit;
}

/* ================================ */
/*            backlight             */
/* ================================ */
#backlight {
	color: #f6c657;
}

/* ================================ */
/*            memory                */
/* ================================ */
#memory {
	color: @memory;
}

/* ================================ */
/*         pulseaudio               */
/* ================================ */
#pulseaudio {
	color: #83a598;
}

#pulseaudio.muted {
	color: #ea6962;
}

#pulseaudio.source-muted {
	color: #ea6962;
}

/* ================================ */
/*            battery               */
/* ================================ */
#battery {
	color: #689d6a;
}

#battery.critical {
	color: #cc241d;
}

#battery.warning {
	color: #e78a4e;
}
/* ================================ */
/*            clock                 */
/* ================================ */
#clock {
	color: #8ec07c;
}

#idle_inhibitor {
	color: #ebe284;
}

#keyboard-state {
	color: #a23db4;
}

#custom-swaync {
	color: #8ec07c;
	min-width: 20px;
}

#power,
#custom-power {
	color: #d3869b;
}
